header{
    height: auto;
    background-color: white;
    margin: 10px;
    padding: 10px;
}
header nav{
    border: 1px solid black;
    
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    margin: 20px; 
}
main{
    display: flex;
    background-image: url(./images/러닝크루.png);
}
section{
    color: white;
    border: 5px solid white;
    width: 50%;
    background-color:;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
section h1{
    
}
article{
    border: 3px solid white;
    background-color: ;
    margin-bottom: 10px;
    padding: 20px;
}
article h2{

}
article p{

}
aside{
    border: 5px solid white;
    width: 50%;
    background-color:;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
aside img{
    width: 400px;
    height: 500px;
}
video{
    border: 3px white solid;
    margin-left: 10%;
}
footer{
    background-color: gainsboro;
    margin: 10px;
    padding: 20px;
    border: solid 1px black;
}
footer address{

}
footer address a{

}
form{
    display: inline;
}
select{
    display: inline;
}